* {
    margin: 0;
    padding: 0;
}

main > section {
    min-height: 100vh;
}

nav, main > section {
    overflow: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color:  #EFE0D9;
}

nav ul a {
    padding: 1em;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: black;
    margin: 1.7rem;
}

nav ul a:hover {
    color: #4A6C30;
}

button.dropbtn:hover{
    color: #4A6C30;
}

button.dropbtn{
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24.5px;
    background-color: #EFE0D9;
    margin: 1.4rem;
    padding: 0.6em;
}

nav ul.dropbtn {
    display: flex;
    flex-direction: row;
}

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    background-color: #EFE0D9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EFE0D9;
    background-size: cover;
}

.page-header h1{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    display: flex;
    justify-content: flex-end;
    margin: 1.7rem;
    color: #4A6C30;
}

.page-header h1:hover {
    color: #4A6C30;
}

.page-header nav{
    font-size:  20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 90;
}

.page-header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.page-header a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

.dropdown-content a{
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

#index-html {
    background-image: url(images/doggiecouch.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

#index-html div{
    position: relative;
    left: 645px;
    top: 175px;
    margin: 0;
    color: black;
    text-shadow: 0 0 30px whitesmoke;
}

#index-html h1{
    font-family: 'Playfair Display', serif;
    font-size: 145px;
    display: flex;
}
#about-us {
    background-image: url(images/wave.svg);
    background-size: cover;
    background-color: white;
}

#about-us h2{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    padding: 1rem;
}

#about-us p {
    font-family: 'Roboto', sans-serif;
    font-size:  25px;
    border-radius: 10px;
    margin: 1rem;
    width: 580px;
    height: 150px;
}


#low-main, #pet-friend {
    background-color: #EFE0D9;
}

.pf-card {
    position: absolute;
    left: 1300px;
    top: 1500px;
}

.lm-card{
    position: absolute;
    left: 950px;
    top: 1500px;
}

.pf-card img, .lm-card img{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}
.pf-card a, .lm-card a{
    font-family: 'Roboto';
    font-size: 25px;
    color: #4A6C30;
    text-decoration: none;
    text-align: center;
}

.items, .items-two {
    font-family: 'Roboto';
    font-size: 25px;
    color: black;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.item{
    background-color: white;
    box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
    border-radius: 10px;
    line-height: 0;
}

.item button{
    background-color:#EFE0D9;
    border: none;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bolder;
    margin: 1.5px;
    
    display: flex;
    align-self: flex-end;
}

.item button:hover{
    color: #4A6C30;
}

.desc {
    font-family: 'Roboto';
    font-size: 15px;
}

.item p{
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}

#low-main{
    background-image: url(images/Untitled_Artwork\ 4.jpg);
    background-size: cover;
    

}
#doggos{
    background-image: url(images/Untitled_Artwork\ 3.jpg);
    background-size: cover;
    background-color: white;
}

#doggos img{
    width: 580px;
    height: 500px;
    border-radius: 5%;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
    border-radius: 10px;
}

#doggos h1{
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    padding: 1rem;
}

.featured p{
    font-family: 'Roboto';
    font-size: 25px;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
    border-radius: 10px;
    width: 580px;
    height: 210px;
    position: relative;
    left: 750px;
    top: 15px;
    text-align: center;
}

.featured img{
    position: relative;
    left: 305px;
    top: 100px;
}

.featured h2{
    font-family: 'Syncopate', sans-serif;
    font-size: 120px;
    position: relative;
    left: 305px;
    top: 80px;
    text-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);

}


#pet-friend h2, #low-main h2{
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    padding: 1rem;
}

#cart h1{
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    padding: 1rem;
    text-align: center;
}
