* {
    margin: 0;
    padding: 0;
}

main > section {
    min-height: 100vh;
}

nav, main > section {
    overflow: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color:  #EFE0D9;
}

nav ul a {
    padding: 1em;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: black;
    margin: 1.7rem;
}

nav ul a:hover {
    color: #4A6C30;
}

button.dropbtn:hover{
    color: #4A6C30;
}

button.dropbtn{
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24.5px;
    background-color: #EFE0D9;
    margin: 1.4rem;
    padding: 0.6em;
}

nav ul.dropbtn {
    display: flex;
    flex-direction: row;
}

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    background-color: #EFE0D9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EFE0D9;
    background-size: cover;
}

.page-header h1{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    display: flex;
    justify-content: flex-end;
    margin: 1.7rem;
    color: #4A6C30;
}

.page-header h1:hover {
    color: #4A6C30;
}

.page-header nav{
    font-size:  20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 90;
}

.page-header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.page-header a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

.dropdown-content a{
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

#index-html {
    background-image: url(images/doggiecouch.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

#index-html div{
    position: relative;
    left: 645px;
    top: 175px;
    margin: 0;
    color: black;
    text-shadow: 0 0 30px whitesmoke;
}

#index-html h1{
    font-family: 'Playfair Display', serif;
    font-size: 145px;
    display: flex;
}
#about-us {
    background-color:  #EFE0D9;
}

#low-main {
    background-color: #EFE0D9;
}

.card {
    display: inline-block;
    margin: auto;
    width: 520px;
    height: 450px;
    background: white;
    box-shadow: 5px 5px 15px rgba(186, 126, 126, 0.5);
    border-radius: 10px;
    line-height: 0;
}

.card h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: black;
    margin: 1rem;
    display: flex; 
    justify-content: center;
}

.card h3, .card p {
    margin: 1rem;
    padding: 1rem;
    color: black;
    justify-content: flex-start;
    text-align: flex-start;
}

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}