* {
    margin: 0;
    padding: 0;
}

main > section {
    min-height: 100vh;
}

nav, main > section {
    overflow: auto;
}

.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EFE0D9;
    background-size: cover;
}

.page-header h1{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    display: flex;
    justify-content: flex-end;
    margin: 1.7rem;
    color: #4A6C30;
}

.page-header h1:hover {
    color: #4A6C30;
}

.page-header nav{
    font-size:  20px;
    font-family: 'Roboto', sans-serif;
}

.page-header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.page-header a{
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color:  #EFE0D9;
}

nav ul a {
    padding: 1em;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: black;
    margin: 1.7rem;
}

nav ul a:hover {
    color: #4A6C30;
}

#opening-page {
    background-image: url(images/doggiecouch.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

#opening-page div{
    position: relative;
    left: 645px;
    top: 175px;
    margin: 0;
    color: black;
    text-shadow: 0 0 30px whitesmoke;
}

#opening-page h1{
    font-family: 'Playfair Display', serif;
    font-size: 145px;
    display: flex;
}
#about-us {
    background-color:  #EFE0D9;
}